# Core Python packages
pandas>=1.3
numpy>=1.21
python-dotenv>=0.19.2

# PostgreSQL support
psycopg2-binary>=2.9.1

# Streamlit for dashboarding
streamlit>=1.4

# DBT (CLI for data transformations)
dbt-core>=1.5